@import 'src/assets/styles/common.scss';

.circle-wrapper {
  position: relative;

  circle {
    stroke-width: 8px;
    transform-origin: center;
    &.progress-background {
      transform: scale(0.9);
      stroke: $theme-color-shadow;
    }
    &.progress-bar {
      transform: scale(0.9) rotate(-90deg);
      stroke: $theme-color;
    }
  }
}
